@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Inconsolata', monospace;
}

html, body{
    width: 100%;
    height: 100vh;
}

body{
    background:#1A1A1A;
    color:white;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: #272727;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    margin-right: 30px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
  }
  
  /* Change the color of links on hover */
  .nav a:hover:not(#master) {
    color: orangered;
  }

.nav a img{
    height: 35px;
}

.content{
    margin-top: 50px;
}


.header{
    height:calc(100vh - 50px);
    width:100%;
    color: white;
    background: url(./img/friends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*paralax effect*/
    background-attachment: fixed;
}

.headertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headertext *{
    margin: 2.5px;
}

button, input[type="submit"]{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}


.headertext h1{
    font-size: 80px;
    color: orangered;
}

.headertext h2{
    font-size: 30px;
    color:white;
}

#master{
    margin-left:10px;
}

.miniheader{
    height:calc(50vh - 50px);
    width:100%;
    color: white;
    background: url(./img/friends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*paralax effect*/
    background-attachment: fixed;
}

.miniheader .headertext{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/*w3schools*/
* {
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .cheader {
    background-color: #111;
    background: url(img/friends.jpg);
    color: orangered;
    font-size: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*paralax effect*/
    background-attachment: fixed;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #272727;
    font-size: 20px;
  }

[margin]{
    margin-left: 35px;
}

input:not([type="submit"]){
    border: none;
    padding: 10px;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    background: #272727;
    color: orangered;
    outline:none;
    width: 300px;
    cursor: pointer;
}

input:focus:not([type="submit"]){
    border-bottom: 1px solid orangered;
    padding-bottom: 10px;
    cursor:text;
}